


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="static.css">
    <link rel="stylesheet" type="text/css" href="styles.css"> <!-- uso el archivo styles.css -->
    <link rel="stylesheet" type="text/css" href="modal.css"> <!-- uso el archivo Modal.css -->
    <script  src="scripts.js"></script> <!-- uso el archivo script.js -->
</head>
<body>
    <!-- MENU ENCABEZADO -->
    <div class="contenedor-header">
        <header>
            <div class="logo">
                <a href="#">Jose</a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="#inicio" onclick="seleccionar()">HOME</a></li>
                    <li><a href="#sobremi" onclick="seleccionar()">ABOUT ME</a></li>
                    <li><a href="#skills" onclick="seleccionar()">SKILLS</a></li>
                    <li><a href="#curriculum" onclick="seleccionar()">CURRICULUM</a></li>
                    <li><a href="#portfolio" onclick="seleccionar()">PORTFOLIO</a></li>
                    <li><a href="#contacto" onclick="seleccionar()">CONTACT ME</a></li>
                </ul>
            </nav>
            <div class="nav-responsive" onclick="mostrarOcultarMenu()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
    </div><br><br><br>

    <!-- SECCION INICIO -->
    <section id="inicio" class="inicio">
        <div class="contenido-banner">
            <div class="contenedor-img">
                <img src="https://media.licdn.com/dms/image/D4D03AQH1V2JGpGwbvw/profile-displayphoto-shrink_800_800/0/1669752072047?e=1677110400&v=beta&t=pAkwx3M_d468T7uLDf_qCWf2uqpzTtijGUuzC6IAtfY" alt="">
            </div>
            <h1>JOSE MARCHINI</h1>
            <h2>Blokchain & Back-End Developer<br>Data Analyst</h2>
            <div class="redes">
                <a href="https://mail.google.com/mail/u/1/?ogbl#inbox?compose=new"><i class="fa-solid fa-envelope"></i></a>
                <a href="https://www.linkedin.com/in/jose-marchini/"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://github.com/josemarchini"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </section>

    <!-- SECCION SOBRE MI -->
    <section id="sobremi" class="sobremi">
        <div class="contenido-seccion">
            <h2>About me</h2>
            <p><span>Hi, i'm Jose.</span> I have created this website with some of the technologies I use (Python-Flask, MySQL, JS, HTML & CSS) with the intention that you know me a little more, I am passionate about technology and numbers from a very small age and now I am turning this passion into a job. <br>

                I really like working with data and making an application work from the bases, that’s why I decided to specialize in the back-end part and in innovative technologies such as Blockchain that in the end are a type of distributed data base with a peer-to-peer architecture, which means that the information is kept distributed on all nodes of the network and not on a central node. <br><br>
                
                On this website you will probably find some examples of my work, do not forget to try the functionalities and come back periodically because I am in expensive learning and very likely you will find improvements and new things over time ;).</p>

                <br><br><div class="fila">
                
                
                <!-- intereses -->
                <div class="col">
                    <h3>Interesi</h3>
                    <br>
                    <div class="contenedor-intereses">
                        <div class="interes">
                            <i class="fa-solid fa-headphones"></i>
                            <span>MUSICA</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-plane"></i>
                            <span>VIAGGI</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-person-hiking"></i>
                            <span>SPORT</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-book"></i>
                            <span>LIBRI</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-camera"></i>
                            <span>FOTO</span>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div>
                <a href="https://drive.google.com/file/d/1xRe1fyTqz5jOlMbQvhcoc8CJrM7-IVuk/view?usp=sharing">
            <button>
                Scarica CV <i class="fa-solid fa-download"></i>
                <span class="overlay"></span>
            </button>
        </a>
        </div>
        </div>
    </section>

    <!-- SECCION SKILLS -->
    <section class="skills" id="skills">
        <div class="contenido-seccion">
            <h2>Skills</h2>
            <div class="fila">
                <!-- Technical Skill -->
                <div class="col">
                    <h3>Technical Skills</h3>
                    <br><div class="skill">
                        <span>Python</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <br><div class="skill">
                        <span>SQL</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <br><div class="skill">
                        <span>Blokchain</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <br><div class="skill">
                        <span id="Javascript">Javascript - HTML & CSS</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <br><div class="skill">
                        <span>Wordpress</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Professional Skills -->
                <div class="col">
                    <h3>Professional Soft Skills</h3>
                    <br><div class="skill">
                        <span id="comunicacion">Effective Communication</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <br><div class="skill">
                        <span id="trabajo">Team Working</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <br><div class="skill">
                        <span id="learning">Self-learning skills</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <br><div class="skill">
                        <span id="analisis">Analytical & Problem solving skills</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <br><div class="skill">
                        <span>Agile Methodology</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br></section>

    <!-- SECCION CURRICULUM -->
    <section id="curriculum" class="curriculum">
        <div class="contenido-seccion">
            <h2>Curriculum</h2>
            <div class="fila">
                <div class="col izquierda">
                    <h3>Educación</h3>
                    <div class="item izq">
                        <h4>Arte y Multimedia</h4>
                        <span class="casa">Universidad de Oxford</span>
                        <span class="fecha">2005 - 2008</span>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque repellat, tempora recusandae aliquam nemo esse natus impedit, nostrum temporibus veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                    <div class="item izq">
                        <h4>Arte y Multimedia</h4>
                        <span class="casa">Universidad de Oxford</span>
                        <span class="fecha">2005 - 2008</span>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque repellat, tempora recusandae aliquam nemo esse natus impedit, nostrum temporibus veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                    <div class="item izq">
                        <h4>Arte y Multimedia</h4>
                        <span class="casa">Universidad de Oxford</span>
                        <span class="fecha">2005 - 2008</span>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque repellat, tempora recusandae aliquam nemo esse natus impedit, nostrum temporibus veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                </div>

                <div class="col derecha">
                    <h3>Experiencia de trabajo</h3>
                    <div class="item der">
                        <h4>Front Developer</h4>
                        <span class="casa">Nombre de Compañía</span>
                        <span class="fecha">2005 - 2008</span>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque repellat, tempora recusandae aliquam nemo esse natus impedit, nostrum temporibus veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
                    <div class="item der">
                        <h4>Front Developer</h4>
                        <span class="casa">Nombre de Compañía</span>
                        <span class="fecha">2005 - 2008</span>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque repellat, tempora recusandae aliquam nemo esse natus impedit, nostrum temporibus veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
                    <div class="item der">
                        <h4>Front Developer</h4>
                        <span class="casa">Nombre de Compañía</span>
                        <span class="fecha">2005 - 2008</span>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque repellat, tempora recusandae aliquam nemo esse natus impedit, nostrum temporibus veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SECCION PORTFOLIO -->
    <section id="portfolio" class="portfolio">
        <div class="contenido-seccion">
            <h2>PORTFOLIO</h2>
            <div class="galeria">
                <div class="proyecto">
                    <img src="https://drive.google.com/file/d/1jnDnoPOdAzY66W0ZWAr8K77c_UZtTlFL/view?usp=share_link" alt="">
                    <div class="overlay">
                        <h3>Diseño Creativo</h3>
                        <p>Fotografía</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img src="https://drive.google.com/file/d/1Zv9Q2JOzhZPl63CttyYbVsOOxHZDvFsw/view?usp=share_link" alt="">
                    <div class="overlay">
                        <h3>Diseño Creativo</h3>
                        <p>Fotografía</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img src="https://drive.google.com/file/d/1RTK8pQ0yaprqPO9kMbticZvy6HckQQfQ/view" alt="">
                    <div class="overlay">
                        <h3>Diseño Creativo</h3>
                        <p>Fotografía</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img src="https://github.com/codigowebmp/portfolio-nick/blob/main/img/p4.jpg?raw=true" alt="">
                    <div class="overlay">
                        <h3>Diseño Creativo</h3>
                        <p>Fotografía</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img src="https://github.com/codigowebmp/portfolio-nick/blob/main/img/p5.jpg?raw=true" alt="">
                    <div class="overlay">
                        <h3>Diseño Creativo</h3>
                        <p>Fotografía</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img src="https://github.com/codigowebmp/portfolio-nick/blob/main/img/p6.jpg?raw=true" alt="">
                    <div class="overlay">
                        <h3>Diseño Creativo</h3>
                        <p>Fotografía</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- SECCION CRUD -->
    <section id="crud" class="crud">
        <div class="contenido-seccion">
            <h2>CRUD</h2><br>
            <h3>Questo e un essempio di CRUD (Create, Read, Update, Delete) creato da me con Flask e un DataBase MySQL. Sei libero di aggiungere, eliminare e modificare i registri in tempo reale o aggiungere i tuoi dati di contatto ;)</h3><br><br>
        <!-- creo la tabla con el id costumers -->
        <table id="customers"> <!-- creo la tabla con el id costumers -->
    <thead>
        <tr> <!-- creo la fila de la tabla -->
        <th>Nome</th> <!-- creo la celda de la tabla -->
        <th>Cognome</th> 
        <th>Età</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
    <br><br>
    <!-- creo el boton al centro para agregar un nuevo customer -->
    <div style="text-align:center"><a onclick="agregar()" href="#crud" class="myButton">Aggiungi Cliente</a></div>

    <!-- dejo un espacio con la tabella-->
    <br>
    
        <!-- Modal -->
        <div id="modal" class="modale" aria-hidden="true">
        
            <div class="modal-dialog">
              <div class="modal-header">
                <h2>New Client</h2>
                <a onclick="cerrarModal()" href="#crud" class="btn-close closemodale" aria-hidden="true">&times;</a>
              </div>
              <div class="modal-body">
                <input id="txtId" type="hidden" placeholder="Id" size="20" /><br>
                <input id="txtFirstname" type="text" placeholder="Nome" size="20" /><br>
                <input id="txtLastname" type="text" placeholder="Cognome" size="20" /><br>
                <input id="txtPhone" type="text" placeholder="Eta" size="20" /><br>
                <input id="txtEmail" type="text" placeholder="Email" size="20" /><br>
                <input id="txtAddress" type="text" placeholder="Address" size="20" /><br>
                
              <div class="modal-footer">
            
          
                <br><a onclick="save()" href="#crud" class="btn" id="btn_ingresar">Aggiungi</a>
              </div>
            </div>
          </div>
          <!-- /Modal -->
    </section>



    <!-- SECCION CONTACTO -->
    <section id="contacto" class="contacto">
        <div class="contenido-seccion">
            <h2>CONTACTO</h2>
            <div class="fila">
                <!-- Formulario -->
                <div class="col">
                    <input type="text" placeholder="Tú Nombre">
                    <input type="text" placeholder="Número telefónico">
                    <input type="text" placeholder="Dirección de correo">
                    <input type="text" placeholder="Tema">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
                    <button>
                        Enviar Mensaje<i class="fa-solid fa-paper-plane"></i>
                        <span class="overlay"></span>
                    </button>
                </div>
                <!-- Mapa -->
                <div class="col">
                    <img src="https://github.com/codigowebmp/portfolio-nick/blob/main/img/ubicacion.png?raw=true" alt="">
                    <div class="info">
                        <ul>
                            <li>
                                <i class="fa-solid fa-location-dot"></i>
                                Nicaragua 159, San Rafael Mza
                            </li>
                            <li>
                                <i class="fa-solid fa-mobile-screen"></i>
                                Llamanos: 2384 - 4343443 
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope"></i>
                                Email: cw@example.com
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <a href="#inicio" class="arriba">
            <i class="fa-solid fa-angles-up"></i>
        </a>
        <div class="redes">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-skype"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="#"><i class="fa-solid fa-rss"></i></a>
        </div>
    </footer>

    <script src="script.js"></script>
</body>
</html>